In [16]:
import cx_Oracle
conn = cx_Oracle.connect('aaa/bbb@localhost:1521/xe')

In [17]:
cur = conn.cursor() #SQL 실행객체
result = cur.execute("select * from todo") #쿼리 실행 - 결과리턴(select 문일 경우에만)
for rs in result:
    print(rs)
result

(2, datetime.datetime(2023, 8, 22, 11, 32, 27), '오늘이 그날인가', 0)
(25, datetime.datetime(2023, 11, 20, 12, 15, 7), '파이썬에서 테스트중입니다.', 0)
(26, datetime.datetime(2023, 11, 20, 12, 15, 7), '쿼리에 :을 통해 변수를 대입할수있음', 0)
(27, datetime.datetime(2023, 11, 20, 0, 0), '변수를 튜플로 삽입할수도 있다고함', 0)
(21, datetime.datetime(2023, 11, 20, 11, 40, 3), '파이썬에서 테스트중입니다.', 0)
(22, datetime.datetime(2023, 11, 20, 11, 41, 7), '파이썬에서 테스트중입니다.', 0)
(23, datetime.datetime(2023, 11, 20, 11, 43, 35), '쿼리에 :을 통해 변수를 대입할수있음', 0)
(24, datetime.datetime(2023, 11, 20, 0, 0), '변수를 튜플로 삽입할수도 있다고함', 0)
(1, datetime.datetime(2023, 8, 18, 16, 55, 34), '집으로', 1)
(8, datetime.datetime(2023, 8, 22, 14, 6, 58), '시퀀스테스트', 0)
(9, datetime.datetime(2023, 8, 22, 14, 50, 30), '시퀀스테스트', 0)
(4, datetime.datetime(2023, 9, 11, 0, 0), '할일', 0)
(3, datetime.datetime(2023, 9, 28, 0, 0), '추석이다!', 0)
(10, datetime.datetime(2023, 8, 22, 14, 50, 31), '시퀀스테스트', 0)
(5, datetime.datetime(2023, 8, 22, 9, 51, 47), '테스트중입니다', 1)
(6, datetime.datetime(2023, 9, 9, 0, 0), '99999', 0)

In [5]:
cur.close() #DB연결 종료
conn.close()

In [6]:
conn = cx_Oracle.connect('aaa/bbb@localhost:1521/xe')
cur = conn.cursor()

result = cur.execute("select * from todo")
all_data = result.fetchall()    #실행결과 한 행을 튜플로 전체 결과를 리스트에 담음
print(all_data)

[(2, datetime.datetime(2023, 8, 22, 11, 32, 27), '오늘이 그날인가', 0), (21, datetime.datetime(2023, 11, 20, 11, 40, 3), '파이썬에서 테스트중입니다.', 0), (22, datetime.datetime(2023, 11, 20, 11, 41, 7), '파이썬에서 테스트중입니다.', 0), (23, datetime.datetime(2023, 11, 20, 11, 43, 35), '쿼리에 :을 통해 변수를 대입할수있음', 0), (24, datetime.datetime(2023, 11, 20, 0, 0), '변수를 튜플로 삽입할수도 있다고함', 0), (1, datetime.datetime(2023, 8, 18, 16, 55, 34), '집으로', 1), (8, datetime.datetime(2023, 8, 22, 14, 6, 58), '시퀀스테스트', 0), (9, datetime.datetime(2023, 8, 22, 14, 50, 30), '시퀀스테스트', 0), (4, datetime.datetime(2023, 9, 11, 0, 0), '할일', 0), (3, datetime.datetime(2023, 9, 28, 0, 0), '추석이다!', 0), (10, datetime.datetime(2023, 8, 22, 14, 50, 31), '시퀀스테스트', 0), (5, datetime.datetime(2023, 8, 22, 9, 51, 47), '테스트중입니다', 1), (6, datetime.datetime(2023, 9, 9, 0, 0), '99999', 0)]

In [7]:
result = cur.execute("select column_name from user_tab_columns where table_name=UPPER('todo')") #전체 컬럼명 조회 (where문으로 특정 테이블 조회가능)
all_cols = result.fetchall()
all_cols = [r[0] for r in all_cols]
all_cols

['NO', 'TODO_DATE', 'STR', 'ISCOMPLETE']

In [8]:
import pandas as pd
df = pd.DataFrame(all_data, columns= all_cols) 
df

    NO           TODO_DATE                   STR  ISCOMPLETE
0    2 2023-08-22 11:32:27              오늘이 그날인가           0
1   21 2023-11-20 11:40:03        파이썬에서 테스트중입니다.           0
2   22 2023-11-20 11:41:07        파이썬에서 테스트중입니다.           0
3   23 2023-11-20 11:43:35  쿼리에 :을 통해 변수를 대입할수있음           0
4   24 2023-11-20 00:00:00    변수를 튜플로 삽입할수도 있다고함           0
5    1 2023-08-18 16:55:34                   집으로           1
6    8 2023-08-22 14:06:58                시퀀스테스트           0
7    9 2023-08-22 14:50:30                시퀀스테스트           0
8    4 2023-09-11 00:00:00                    할일           0
9    3 2023-09-28 00:00:00                 추석이다!           0
10  10 2023-08-22 14:50:31                시퀀스테스트           0
11   5 2023-08-22 09:51:47               테스트중입니다           1
12   6 2023-09-09 00:00:00                 99999           0

In [9]:
df2 = pd.read_sql('select * from todo', conn) #read_sql_table, read_sql_query에 대한 래퍼, 입력에 따라 수행하는 동작이 달라짐
df2

C:\Users\DongGyu\AppData\Local\Temp\ipykernel_8616\3753422626.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql('select * from todo', conn) #read_sql_table, read_sql_query에 대한 래퍼, 입력에 따라 수행하는 동작이 달라짐

    NO           TODO_DATE                   STR  ISCOMPLETE
0    2 2023-08-22 11:32:27              오늘이 그날인가           0
1   21 2023-11-20 11:40:03        파이썬에서 테스트중입니다.           0
2   22 2023-11-20 11:41:07        파이썬에서 테스트중입니다.           0
3   23 2023-11-20 11:43:35  쿼리에 :을 통해 변수를 대입할수있음           0
4   24 2023-11-20 00:00:00    변수를 튜플로 삽입할수도 있다고함           0
5    1 2023-08-18 16:55:34                   집으로           1
6    8 2023-08-22 14:06:58                시퀀스테스트           0
7    9 2023-08-22 14:50:30                시퀀스테스트           0
8    4 2023-09-11 00:00:00                    할일           0
9    3 2023-09-28 00:00:00                 추석이다!           0
10  10 2023-08-22 14:50:31                시퀀스테스트           0
11   5 2023-08-22 09:51:47               테스트중입니다           1
12   6 2023-09-09 00:00:00                 99999           0

In [10]:
df3 = pd.read_sql_query('select * from todo', conn)
df3

C:\Users\DongGyu\AppData\Local\Temp\ipykernel_8616\3258361224.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3 = pd.read_sql_query('select * from todo', conn)

    NO           TODO_DATE                   STR  ISCOMPLETE
0    2 2023-08-22 11:32:27              오늘이 그날인가           0
1   21 2023-11-20 11:40:03        파이썬에서 테스트중입니다.           0
2   22 2023-11-20 11:41:07        파이썬에서 테스트중입니다.           0
3   23 2023-11-20 11:43:35  쿼리에 :을 통해 변수를 대입할수있음           0
4   24 2023-11-20 00:00:00    변수를 튜플로 삽입할수도 있다고함           0
5    1 2023-08-18 16:55:34                   집으로           1
6    8 2023-08-22 14:06:58                시퀀스테스트           0
7    9 2023-08-22 14:50:30                시퀀스테스트           0
8    4 2023-09-11 00:00:00                    할일           0
9    3 2023-09-28 00:00:00                 추석이다!           0
10  10 2023-08-22 14:50:31                시퀀스테스트           0
11   5 2023-08-22 09:51:47               테스트중입니다           1
12   6 2023-09-09 00:00:00                 99999           0

In [11]:
sql = "insert into todo(no, str) values(todo_key.nextval, '파이썬에서 테스트중입니다.')"
cur.execute(sql)
conn.commit() #실제 db에 커밋하기

In [12]:
sql = "insert into todo(no, str) values(todo_key.nextval, :str)"
cur.execute(sql, str = '쿼리에 :을 통해 변수를 대입할수있음')
conn.commit()

In [13]:
sql = "insert into todo values(todo_key.nextval, :todo_date, :str, :iscomplete)"    #:을 통해 변수를 할당할때는 테이블의 컬럼명과 같아야됨;;
cur.execute(sql,('2023-11-20','변수를 튜플로 삽입할수도 있다고함',0))
conn.commit()

In [14]:
cur.close() #DB연결 종료
conn.close()